%h2 Products#index

%table
  %tr
    %th Product Name

  -@products.each do |product|
    %tr 
      %td= product.name
  
=link_to 'New Product', new_product_path

%p
  =link_to 'Customers', customers_path